
/*   CSS para os botões do site    */

.btnTable {
    width: 40%;
}

/* Borda curva dos botões*/

.btn{

    border-radius: 10px;

}

/* Sobreado do hover*/

.btn:hover{

    box-shadow: 2px 2px gray;

}

.deleteFile, .deletePrinter{

    border-color: #ac0000;
    background-color: #ac0000;

    color: azure;

    font-weight: bold;

}

.deleteFile:hover, .deletePrinter:hover{

    border-color: #ff0000;
    background-color: #ff0000;

}

.printFile, .confirmPrint{

    border-color: #1aaad8;
    background-color: #1aaad8;

    color: azure;

    font-weight: bold;

}

.printFile:hover, .confirmPrint:hover{

    background-color: #20c9ff;
    border-color: #20c9ff;

    color: black;

}

.addPrinter, .editPrinter{

    border-color: green;
    background-color: green;

    color: azure;

    font-weight: bold;

}

.addPrinter:hover, .editPrinter:hover{

    border-color: greenyellow;
    background-color: greenyellow;

    color: black;

}

.managerPrinter{

    border-color: #ff8400;
    background-color: #ff8400;

    color: azure;

    font-weight: bold;

}

.managerPrinter:hover{

    border-color: #ff9829;
    background-color: #ff9829;

    color: black

}