html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {

    background-image: linear-gradient(black, #08003e);

    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 5px;
    min-height: 100vh;

    color: azure;

}

.rodape {
    
    text-align: center;
    
    width: 100%;
    
    position: fixed;
    bottom: 0;
    left: 0;
   
    border-top: whitesmoke solid 1px;
   
    font-size: 11px;
    margin: 0;
    padding: 0;
}

.rodape a{

    text-decoration: none;
    color: azure;

}

.main-content {
    display: flex;
    justify-content: space-between;  /* Distribui o conteúdo igualmente entre as divs */
    gap: 1%; /* Espaçamento entre as divs */
    flex-wrap: wrap; /* Permite que as divs se ajustem em telas menores */
}

.impressoras,
.acoes {
    flex: 1;  /* Faz com que as divs cresçam para ocupar o espaço disponível */  
}

@media (max-width: 768px) {
    .impressoras,
    .acoes {
        max-width: 100%;  /* Faz com que as divs ocupem toda a largura disponível em telas menores */
    }
}

.impressoras {

    max-width: 75%;

}

.impressora {
    border-style: solid;
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
    height: 350px;
    width: 300px;
    border-radius: 10px;
}

.printing {
    border-color: #2090ff;
}

.printing:hover {
    border-color: #20c9ff;
}

.operational {
    border-color: green;
}

.operational:hover {
    border-color: greenyellow;
}

.acoes{

    max-width: 23%;


}

.printerError {
    
    border: 2px solid #ccc;
    border-radius: 10px;

    padding: 3px;
    
}

.error {
    border-color: red;
}

.nomeImpressora {
    text-align: center;
}

.conteudo {
    margin-left: 10px;
    margin-right: 10px;
}

.camera {
    height: 210px;
    width: 280px;
}

.error-image {
    
    fill: azure;
}

.acoes {
    padding: 2px;
}

.arquivos {

    border: 2px solid #ccc;
    border-radius: 10px;

    padding: 3px;

}

.upload-area {
    
    height: 150px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: whitesmoke;
    font-size: 16px;

    margin: 3px;

}

.upload-area:hover {
    border-color: #4CAF50;

    color: #4CAF50;
}

#fileList {
    margin-top: 20px;
}

.file-item {
    margin: 5px 0;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}


.tablePrinters, th, td{

    border: 1px solid whitesmoke;
    border-collapse: collapse;
    text-align: center;

    border-radius: 15px;

}

table {
    width: 100%;
}

.editPrinterForm{

    text-align: center;

}


