<!-- templates/adicionaimpressora.html -->
<div class="modal-content addPrinterModal">
    <span class="close">&times;</span>
    <h2>Cadastrar Impressora</h2>

    <form id="addPrinterForm">
        <label for="ip">IP do dispositivo: </label>
        <input type="text" id="ip" name="ip" required>
        <br><br>

        <label for="API">Chave da Api: </label>
        <input type="text" id="API" name="API" required>
        <br><br>

        <label for="port">Porta OctoPrint: </label>
        <input type="text" id="port" name="port" value="5000" required>
        <br><br>

        <label for="webcam">Porta webcam: </label>
        <input type="text" id="webcam" name="webcam" required>
        <br><br>

        <label for="nome">Nome da impressora: </label>
        <input type="text" id="nome" name="nome" required>
        <br><br>

        <button class="addPrinter btn" type="submit">Adicionar impressora</button>
    </form>
</div>
