{% extends "main.html" %}

{% block head %}
{% endblock %}

{% block content %}
<h1>Fazenda 3D</h1>

<button class="addPrinter btn" id="addprinter" type="button">Adicionar impressora</button>
<button class="managerPrinter btn" id="gerenciarImpressora" type="button">Gerenciar Impressoras</button>

<br><br><br>

<!-- modal de adicionar impressoras -->
<div id="modalAddPrinter" class="modal">
    <!-- O conteúdo será carregado aqui -->
    <div id="modalContent"></div>
</div>

<!-- modal de gerenciar impressoras -->
<div id="modalManagePrinters" class="modal">
    <!-- O conteúdo será carregado aqui -->
    <div id="modalContentManage"></div>
</div>

<div class="main-content">

    <div class="impressoras">

        {% if error_message %}
        <div class="alert alert-warning">{{ error_message }}</div>
        {% else %}
        <div id="impressoras">
            {% for printer_state in printer_states %}
            <div class="impressora" id="printer-{{ printer_state['printer']['ip'] }}">
                <div class="conteudo">
                    <h2 class="nomeImpressora"> {{ printer_state['printer']['nome'] }}</h2> <!-- Nome da impressora -->

                    <!-- Exibir o feed da câmera -->
                    <img class="camera"
                        src="http://{{ printer_state['printer']['ip']}}:{{printer_state['printer']['webcam_port']}}"
                        alt="Aqui deveria estar a imagem"
                        onerror="this.onerror=null; this.src='{{ url_for('static', filename='images/3dprinterwhite.svg') }}'; this.classList.add('error-image');"> <!--Se apresentar erro de sintaxe verifique o compilador-->

                    <!-- Exibir o estado da impressora -->
                    <ul>

                        <li id="printer-status-{{ printer_state['printer']['ip'] }}">Status: {{
                            printer_state['state']['state']['text'] }}</li>
                        <li id="bed-temp-{{ printer_state['printer']['ip'] }}">Cama: {{
                            printer_state['state']['temperature']['bed']['actual'] }}°C</li>
                        <li id="tool-temp-{{ printer_state['printer']['ip'] }}">Bico: {{
                            printer_state['state']['temperature']['tool0']['actual'] }}°C</li>

                    </ul>

                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

    </div>

    <div class="acoes">

        <div>

            {% if disconnected_printers %}
            <div class="printerError">
                <h3>Impressoras com erro:</h3>
                <ul>
                    {% for printer in disconnected_printers %}
                    <li>Erro na impressora {{ printer.ip }}: {{ printer.error }}</li>
                    {% endfor %}
                </ul>
            </div>

            <br> 
            {% endif %}

        </div>

        <div class="arquivos">

            <div id="uploadArea" class="upload-area">
                <p>Arraste e solte um arquivo aqui, ou clique para selecionar um arquivo.</p>
                <input type="file" id="fileInput" style="display:none;" />
            </div>

            <!-- Lista de arquivos será exibida nessa tag -->

            <div class="listaArquivos">

                <h3 style="border-bottom: 1px solid #ccc">Arquivos</h3>

                <div id="fileList" class="fileList">
                    

                </div>

            </div>

        </div>

    </div>

</div>

<!-- Modal de Impressão -->
<div id="modalPrint" class="modal">
    <div class="modal-content modalPrint">
        <span class="close" id="closeModal">&times;</span>
        <div id="modalContentPrinting"></div> <!-- O conteúdo será carregado dinamicamente aqui -->
    </div>
</div>



{% endblock %}