<!DOCTYPE html>

<!-- main.html = index -->

<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <title>Fazenda 3D</title>

    {% block head %}
    {% endblock %}

</head>

<body>

    <!-- Menu-->
    <div id="sidebar-upper">
    </div>


    <div class="container">

        {% block content %}
        <!--Página a ser carregada!-->
        {% endblock %}

    </div>

    <footer>

        <div id="copyright">
            <h4>&copy; BRIDGE LAB - 2024</h4>
            <h4>DESENVOLVIDO POR GUILHERME FROES</h4>
        </div>
    
    </footer>

    <script></script>
    {% block script %}
    {% endblock %}
    
</body>

</html>