<div class="modal-content">
    <span class="close">&times;</span>
    <h2 style="text-align: center;">Gerenciar Impressoras</h2>

    <table class="tablePrinters">

        <tr>
            <th>Nome</th>
            <th>IP</th>
            <th>Porta</th>
            <th>Remover</th>
            <th>Editar</th>
        </tr>

        {% for printer in printers %}
        <tr>
            <td><strong>{{ printer['nome'] }}</strong></td>
            <td>{{ printer['ip'] }}</td>
            <td>{{ printer['port'] }}</td>
            <td><button class="deletePrinter btn btnTable" data-ip="{{ printer['ip'] }}">Remover</button></td>
            <td><button class="editPrinter btn btnTable" data-ip="{{ printer['ip'] }}" 
                data-nome="{{ printer['nome'] }}" 
                data-port="{{ printer['port'] }}"
                data-webcam="{{ printer['webcam_port'] }}"
                data-api="{{ printer['api_key'] }}">Editar</button></td>
        </tr>
        {% endfor %}

    </table>

    <!-- Formulário de Edição da Impressora -->
    <div class="editPrinterForm" id="editPrinterForm" style="display:none;">
        <br>
        <h3>Editar Impressora</h3>
        <form id="editPrinter">
            <label for="editNome">Nome:</label>
            <input type="text" id="editNome" name="nome" required><br><br>

            <label for="ip">IP:</label>
            <input type="text" id="editIp" name="ip" required><br><br>

            <label for="editApi">API Key:</label>
            <input type="text" id="editApi" name="api_key" required><br><br>

            <label for="editPort">Porta:</label>
            <input type="text" id="editPort" name="port" required><br><br>

            <label for="editWebcam">Porta Webcam:</label>
            <input type="text" id="editWebcam" name="webcam_port" required><br><br>

            <button class="addPrinter btn" type="submit">Salvar</button>
        </form>
    </div>
</div>
