/* src/index.css */

/* 1. Importar a fonte Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* 2. Importar as bases do Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 3. Definir estilos globais do 'body' */
@layer base {
  body {
    /* Usando as suas cores e a imagem de fundo que definimos no config */
    @apply bg-farm-dark-blue text-farm-light-grey;
    @apply bg-farm-bg bg-cover bg-center bg-fixed;
  }
}